certifi==2019.9.11
chardet==3.0.4
Click==7.0
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.2
pandas==0.25.1
psutil==5.6.3
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==4.19.19
pyqt5-tools==5.13.0.1.5
PyQtWebEngine==5.13.1
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
requests==2.22.0
six==1.12.0
TA-Lib==0.4.17
urllib3==1.25.6
